{#
/**
 * craft-delivery-date plugin for Craft CMS 3.x
 *
 * @author    Digital Butter
 * @copyright Copyright (c) 2020 Digital Butter
 * @link      https://www.butter.com.hk
 * @package   CraftDeliveryDate
 * @since     1.0.0
 */
#}

{% do view.registerAssetBundle("digitalbutter\\craftdeliverydate\\assetbundles\\craftdeliverydate\\CraftDeliveryDateFrontendAsset") %}

<div id="craft-delivery-date-container">
    <div id="craft-delivery-date-datepicker-container">
        <input id="craft-delivery-date-datepicker" name="craft_delivery_date_datepicker" type="text" />
    </div>
    <div id="craft-delivery-date-timeslot-container">
        <select id="craft-delivery-date-timeslot" name="craft_delivery_date_timeslot">
            <option>Select Delivery Date First</option>
        </select>
    </div>
</div>

{% set datesDisabled = [] %}
{% for blockedOutDay in blockedOutDays %}
    {% set datesDisabled = datesDisabled|merge([blockedOutDay]) %}
{% endfor %}

{% js %}
    $('document').ready(function() {
        var availableTimeslot = {{ daysTimeslots|json_encode|raw }};
        var deliveryDateTimeslot = $('#craft-delivery-date-timeslot');

        $('#craft-delivery-date-datepicker').datepicker({
            startDate: new Date('{{ minimumDaysAhead }}'),
            endDate: new Date('{{ maximumDaysAhead }}'),
            daysOfWeekDisabled: '{{ disabledDaysOfWeek }}',
            datesDisabled: {{ datesDisabled|json_encode|raw }},
            format: 'MM dd, yyyy'
        })
        .on('changeDate', function(e) {
            var daySelected = e.date.format('dddd').toLowerCase();
            var timeslotOptionElement = '<option>Select Delivery Date First</option>';

            deliveryDateTimeslot.empty();

            if(availableTimeslot[daySelected]) {
                timeslotOptionElement = '<option>Select Timeslot</option>';

                for (var i=0;i<availableTimeslot[daySelected].length;i++) {
                    var timeslotData = availableTimeslot[daySelected][i];
                    timeslotOptionElement += '<option value='+timeslotData.id+'>'+timeslotData.name+'</option>'
                }
            }

            deliveryDateTimeslot.append(timeslotOptionElement);
        });
    })
{% endjs %}
