{#
/**
 * craft-delivery-date plugin for Craft CMS 3.x
 *
 * @author    Digital Butter
 * @copyright Copyright (c) 2020 Digital Butter
 * @link      https://www.butter.com.hk
 * @package   CraftDeliveryDate
 * @since     1.0.0
 */
#}

{% do view.registerAssetBundle("digitalbutter\\craftdeliverydate\\assetbundles\\craftdeliverydate\\CraftDeliveryDateFrontendAsset") %}

<div id="craft-delivery-date-container">
    <div id="craft-delivery-date-datepicker-container">
        <input id="craft-delivery-date-datepicker" name="craft_delivery_date_datepicker" type="text" value="{{ choosen_delivery_date }}" />
    </div>
    <div id="craft-delivery-date-timeslot-container">
        <select id="craft-delivery-date-timeslot" name="craft_delivery_date_timeslotcraft_delivery_date_timeslot">
            {% if choosen_timeslot %}
                {% for timeslot in daysTimeslots[choosen_delivery_week_name] %}
                    <option value="{{ timeslot['id'] }}"
                        {% if timeslot['id'] == choosen_timeslot %} selected="selected" {% endif %}
                    >{{ timeslot['name'] }}</option>
                {% endfor %}
            {% else %}
                <option value="">Select Delivery Date First</option>
            {% endif %}
        </select>
    </div>
    <div id="craft-delivery-date-save-button-container">
        <button id="craft-delivery-date-save-button" class="button button-primary">Save Delivery Date</button>
    </div>
</div>

{% set datesDisabled = [] %}
{% for blockedOutDay in blockedOutDays %}
    {% set datesDisabled = datesDisabled|merge([blockedOutDay]) %}
{% endfor %}

{% js %}
    $('document').ready(function() {
        var availableTimeslot = {{ daysTimeslots|json_encode|raw }};
        var deliveryDateTimeslot = $('#craft-delivery-date-timeslot');

        $('#craft-delivery-date-datepicker').datepicker({
            startDate: new Date('{{ minimumDaysAhead }}'),
            endDate: new Date('{{ maximumDaysAhead }}'),
            daysOfWeekDisabled: '{{ disabledDaysOfWeek }}',
            datesDisabled: {{ datesDisabled|json_encode|raw }},
            format: 'MM dd, yyyy'
        })
        .on('changeDate', function(e) {
            var daySelected = e.date.format('dddd').toLowerCase();
            var timeslotOptionElement = '<option value="">Select Delivery Date First</option>';

            deliveryDateTimeslot.empty();

            if(availableTimeslot[daySelected]) {
                timeslotOptionElement = '<option value="">Select Timeslot</option>';

                for (var i=0;i<availableTimeslot[daySelected].length;i++) {
                    var timeslotData = availableTimeslot[daySelected][i];
                    timeslotOptionElement += '<option value='+timeslotData.id+'>'+timeslotData.name+'</option>'
                }
            }

            deliveryDateTimeslot.append(timeslotOptionElement);
        });

        $('#craft-delivery-date-save-button').click(function(e) {
            e.preventDefault();
            var deliveryDateDatepicker = $('#craft-delivery-date-datepicker');
            var deliveryDateTimeslot = $('#craft-delivery-date-timeslot');

            deliveryDateDatepicker.parent().find('.error').remove();
            deliveryDateTimeslot.parent().find('.error').remove();

            if (!deliveryDateDatepicker.val()) {
                deliveryDateDatepicker.parent().append('<span class="error">Delivery date is required</span>');
                return false;
            }

            if (!deliveryDateTimeslot.val()) {
                deliveryDateTimeslot.parent().append('<span class="error">Timeslot is required</span>');
                return false;
            }

            $.ajax({
                type: "POST",
                url: '{{ url('delivery-date/store') }}',
                data: {
                    CRAFT_CSRF_TOKEN: '{{ craft.app.request.csrfToken }}',
                    craft_delivery_date_datepicker: deliveryDateDatepicker.val(),
                    craft_delivery_date_timeslot: deliveryDateTimeslot.val()
                }
            })
        })
    })
{% endjs %}