{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * craft-delivery-date plugin for Craft CMS 3.x
 *
 * craft-delivery-date Settings.twig
 *
 * @author    Digital Butter
 * @copyright Copyright (c) 2020 Digital Butter
 * @link      https://www.butter.com.hk
 * @package   CraftDeliveryDate
 * @since     1.0.0
 */
#}

{% extends "craft-delivery-date/layouts/_settings" %}

{% import "_includes/forms" as forms %}
{% do view.registerAssetBundle("digitalbutter\\craftdeliverydate\\assetbundles\\craftdeliverydate\\CraftDeliveryDateAsset") %}

{% block content %}

    <form id="general-form" action="{{ url('delivery-date/settings/general/store') }}" method="POST">
        {{ redirectInput('delivery-date/settings/general') }}
        {{ csrfInput() }}

        {{ forms.textField({
            label: 'Minimum Days Ahead',
            instructions: 'The soonest a delivery can be made for orders placed on.',
            id: 'minimum-days-ahead',
            name: 'minimumDaysAhead',
            value: settings['minimumDaysAhead'],
            type: 'number'})
        }}

        {{ forms.textField({
            label: 'Maximum Days Ahead',
            instructions: 'The latest a delivery can be made for orders',
            id: 'maximum-days-ahead',
            name: 'maximumDaysAhead',
            value: settings['maximumDaysAhead'],
            type: 'number'})
        }}

        {{ forms.timeField({
            label: 'Cut-off Time',
            instructions: 'If an order is placed after the cut-off time (say 4PM), it counts as the day being over.',
            id: 'cut-off-time',
            name: 'cutOffTime',
            value: cutOffTime})
        }}

        <input type="submit" class="btn submit" value="Save">
    </form>

{% endblock %}


{% js %}
    $('document').ready(function() {
        $('#general-form').submit(function(e) {
            if (!$('#minimum-days-ahead').val()) {
                e.preventDefault();
                $('#minimum-days-ahead-field').find('.errors').remove();
                $('#minimum-days-ahead-field').append('<ul class="errors"><li>Minimum days ahead cannot be blank.</li></ul>');
            } else {
                $('#minimum-days-ahead-field').find('.errors').remove();
            }
            
            if (!$('#maximum-days-ahead').val()) {
                e.preventDefault();
                $('#maximum-days-ahead-field').find('.errors').remove();
                $('#maximum-days-ahead-field').append('<ul class="errors"><li>Maximum days ahead cannot be blank.</li></ul>');
            } else {
                $('#maximum-days-ahead-field').find('.errors').remove();
            }

            if (!$('#cut-off-time-field input[name="cutOffTime[time]"]').val()) {
                e.preventDefault();
                $('#cut-off-time-field').find('.errors').remove();
                $('#cut-off-time-field').append('<ul class="errors"><li>Cut-off time cannot be blank.</li></ul>');
            } else {
                $('#cut-off-time-field').find('.errors').remove();
            }
        });
    })
{% endjs %}